@import '~bootstrap/scss/bootstrap';

.images {
    padding-top: 150px;
    padding-bottom: 150px;
    min-height: 90vh;
}

.image {
    padding-top: 50px;
    padding-bottom: 100px;
    min-height: 90vh;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
}